* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #fff;
}
a{
	color: #f8f9fa;
}
main{
	display: block;
	margin-top: 60px;
	/*margin-left: 220px;*/
	padding: 2rem 1.5rem;
	background: #f1f5f9;

	/*min-height: cal(100vh-90px);*/

}
footer{
	display: block;
	width: 100%;
	/*height: 50px;*/
	/*line-height: 50px;*/
	padding-left: 10px;
	position: absolute;
	bottom: 0;
}
.container-fluid{
	min-height: 100%;
	position: relative;
}
.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 220px;
	height: 100%;
	background: #212121;
	margin-bottom: 1.3rem;
	z-index: 1030;
}
.navbar{
	margin-left: 220px;
	height: 70px;
}
.nav-link{
	z-index: 1000;
}
.sb-topnav{
	width: 100%; /*tapi toggle user ilang*/
	height: 60px;
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	/*z-index: 100;*/
}
/*button #sidebarToggle{
	color: #fff; tombol biar putih gimana
}*/
.sb-sidenav-menu {
	top: 0;
}
.sb-sidenav-menu li{
	width: 100%;
	margin-bottom: 1.7rem;
	padding-left: 0rem;
}
.sb-sidenav-menu a{
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1rem;
}

.sb-sidenav-menu a.active{
	margin-right: 0;
	background: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: var(--main-color);
	border-radius: 30px 0px 0px 30px;

}
.navbar-brand{
	height: 70px;
	padding: 1rem 0rem 0rem 2rem;
}
/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#sidebarToggle {
    background-color: #7952b3;
    color: #fff;
}

#sidebarToggle:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}

#layoutSidenav_contetnt{
	margin-left: 220px;
	margin-bottom: 0;
	height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}